// main
$pure-white: #fff;

$pure-black: #000;

$focus-color: #1dca1d;

$light-creamy-color: #e8ebea;

$background-main-color: $pure-white;

// header

$header-text: $pure-white;

// offert

$offert-icon-check: #29eb29;

$offert-icon-minus: #808080;

$offert-shadow: #a7a7a7;

$offert-button-hover: #a3a2a2;

$offert-middle-button: $focus-color;

$offert-middle-button-hover: #2c942c;

// footer

$footer-background-color: $light-creamy-color;

$footer-hover-color: $focus-color;

// contact 

$contact-background: $light-creamy-color;

//cookies

$cookies-background: $light-creamy-color;